<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <ul id="navlist">
            <li><a href="~/Home/" title="Home">Home</a></li>
            <li><a href="~/Home/About" title="About">About</a></li>
        </ul>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
